//
   Created by root on 9/25/15.

.container-fluid#bio
  h1.panel-material-red-400 Benjamin Forehand Jr
  .row
    .col-md-7
      p.
        Bio HereLorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae augue lacus. Aenean turpis massa, efficitur eu sodales eget, euismod vel nisi. In vel lobortis arcu, luctus accumsan nulla. Nunc tincidunt turpis non mollis vestibulum.
        Integer lobortis non libero commodo mattis. Sed at purus ex. Duis et nisl vulputate, tempus lectus ut, viverra ante.
    .col-md-5.hidden-xs.hidden-sm
      p Pic Here
  hr
  .row
    .col-md-7.col-md-push-5
      p.
        Bio Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae augue lacus. Aenean turpis massa, efficitur eu sodales eget, euismod vel nisi. In vel lobortis arcu, luctus accumsan nulla. Nunc tincidunt turpis non mollis vestibulum. Integer lobortis non
        libero commodo mattis. Sed at purus ex. Duis et nisl vulputate, tempus lectus ut, viverra ante.
    .col-md-5.col-md-pull-7.hidden-xs.hidden-sm
      p Pic here
  hr
  .row
    .col-md-7
      p.
        Bio Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae augue lacus. Aenean turpis massa, efficitur eu sodales eget, euismod vel nisi. In vel lobortis arcu, luctus accumsan nulla. Nunc tincidunt turpis non mollis vestibulum. Integer lobortis
        non libero commodo mattis. Sed at purus ex. Duis et nisl vulputate, tempus lectus ut, viverra ante.
    .col-md-5.hidden-xs.hidden-sm
      p Pic Here
  hr
  .row
    .col-md-7.col-md-push-5
      p.
        Bio Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae augue lacus. Aenean turpis massa, efficitur eu sodales eget, euismod vel nisi. In vel lobortis arcu, luctus accumsan nulla. Nunc tincidunt turpis non mollis vestibulum. Integer lobortis non
         libero commodo mattis. Sed at purus ex. Duis et nisl vulputate, tempus lectus ut, viverra ante.
    .col-md-5.col-md-pull-7.hidden-xs.hidden-sm
      p Pic here

