//
   Created by root on 9/25/15.

div#about(layout='column' flex)
  h1 Benjamin Forehand Jr
  hr
  div(layout='row')
    md-content
      md-card.md-padding(layout-gt-md='row' )
        img.md-card-image(src='images/logo.png')
        md-card-content(flex-gt-md='65')
          p.
            I would consider myself a junkie. Not the kind to get in trouble with the law, but one that loves seeing things broken down and raw. Nothing is better to me than seeing the guts of a V12 Formula 1 engine, the raw steel that forms a skyscraper,
            or the simple words in a document of my next million dollar Java class! Yes, I am a fiend for design and engineering!
  div(layout='row')
    md-content
      md-card.md-padding(layout-gt-md='row')
        img.md-card-image(src='images/logo.png' flex-order='2' flex-order-sm='1')
        md-card-content(flex-gt-md='65' flex-order='1' flex-order-sm='2')
          p.
            I would consider myself a junkie. Not the kind to get in trouble with the law, but one that loves seeing things broken down and raw. Nothing is better to me than seeing the guts of a V12 Formula 1 engine, the raw steel that forms a skyscraper,
            or the simple words in a document of my next million dollar Java class! Yes, I am a fiend for design and engineering!
  div(layout='row')
    md-content
      md-card.md-padding(layout-gt-md='row')
        img.md-card-image(src='images/logo.png')
        md-card-content(flex-gt-md='65')
          p.
            I would consider myself a junkie. Not the kind to get in trouble with the law, but one that loves seeing things broken down and raw. Nothing is better to me than seeing the guts of a V12 Formula 1 engine, the raw steel that forms a skyscraper,
            or the simple words in a document of my next million dollar Java class! Yes, I am a fiend for design and engineering!
  div(layout='row')
    md-content
      md-card.md-padding(layout-gt-md='row')
        img.md-card-image(src='images/logo.png' flex-order='2' flex-order-sm='1')
        md-card-content(flex-gt-md='65' flex-order='1' flex-order-sm='2')
          p.
            I would consider myself a junkie. Not the kind to get in trouble with the law, but one that loves seeing things broken down and raw. Nothing is better to me than seeing the guts of a V12 Formula 1 engine, the raw steel that forms a skyscraper,
            or the simple words in a document of my next million dollar Java class! Yes, I am a fiend for design and engineering!
