div#main(layout='column')
  div#bigCallout(layout='column' layout-align='center center' layout-padding)
    md-content.callout-content(layout-padding)
      h1 Welcome!
      p
        img(src='images/logo.png', alt='My Brand')
        p This is the my simple website. I hope you enjoy!
      md-button.md-raised.md-primary.md-hue-2.hvr-grow(ui-sref='about') About
  div(layout-gt-md='row' layout-align='center' layout-margin)
    div(flex class='main-card')
      md-content
        md-card.md-padding
          img.md-card-image(src='images/logo.png')
          md-card-content.md-card-content
            hr
            h2 Resume
            p Take a look at the awesomeness that is my resume! A view and download link is available as well.
          div(layout='row', class='', layout-align='end end')
            md-button.md-raised.md-primary.md-hue-2.hvr-grow(ui-sref='resume') Resume
    div(flex class='main-card')
      md-content
        md-card.md-padding
          img.md-card-image(src='images/logo.png')
          md-card-content.md-card-content
            hr
            h2
              | Stay In touch
            p.
              A short form requiring just your name and email address and a short message for me to contact you regarding whatever you wish.

          div(layout='row', class='', layout-align='end end')
            md-button.md-raised.md-primary.md-hue-2.hvr-grow(ui-sref='contact') Contact
    div(flex class='main-card')
      md-content
        md-card.md-padding
          img.md-card-image(src='images/logo.png')
          md-card-content.md-card-content
            hr
            h2 Recent Projects
            p.
              Come and check out my recent projects as well as all the source code for this amazing website!
          div(layout='row', class='', layout-align='end end')
            md-button.md-raised.md-primary.md-hue-2.hvr-grow(ui-sref='projects') Projects
