div#bigCallout(layout='column')
  md-content
    h1 Welcome!
    p.lead
      img(src='images/logo.png', alt='My Brand')
      br
      | This is the my simple website. I hope you enjoy!
    p
      a.btn.btn-lg.btn-success.btn-material-teal-400(ui-sref='about') About Me
        span.glyphicon.glyphicon-hand-left
div(layout='row')
  md-content
    h2 Site contents
      h4 My Resume1111111111111111111111111111
      p
        | You will find a link to the left, or a link above (if you are on mobile) to view and or download my resume.
      h4 About Me
      p
        | A simple bio as well as links for social media!
      h4 Projects
      p Interested in seeing what I am up to? Check out the projects tab!
  div(flex hide-sm hide-md)
    md-content(style="text-align: center;")
      h1
        | Stay In touch
      p
        a.btn.btn-secondary.btn-raised.btn-material-teal-400.hvr-grow(ui-sref='contact') Contact
