div#main(layout='column')
  div#bigCallout(layout='column' layout-align='center center' layout-padding)
    md-content(layout-padding)
      h1 Welcome!
      p
        img(src='images/logo.png', alt='My Brand')
        br
        | This is the my simple website. I hope you enjoy!
    md-button.md-raised.md-primary.md-hue-2.hvr-grow(ui-sref='about') About
  div(layout-gt-md='row' layout-align='center' layout-margin)
    div(flex class='main-card')
      md-content
        md-card.md-padding
          img.md-card-image(src='images/logo.png')
          md-card-content
            hr
            h2 Site contents
            h4 Resume
            h4 Bio
            h4 Contact form
          div(layout='row', class='', layout-align='end end')
            md-button.md-raised.md-primary.md-hue-2.hvr-grow() Action 1
    div(flex class='main-card')
      md-content
        md-card.md-padding
          img.md-card-image(src='images/logo.png')
          md-card-content
            hr
            h2
              | Stay In touch
            p.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nibh ut risus rhoncus elementum. Sed scelerisque libero ac ex mattis, eu accumsan lectus finibus.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nibh ut risus rhoncus elementum. Sed scelerisque libero ac ex mattis, eu accumsan lectus finibus.
          div(layout='row', class='', layout-align='end end')
            md-button.md-raised.md-primary.md-hue-2.hvr-grow(ui-sref='contact') Contact
    div(flex class='main-card')
      md-content
        md-card.md-padding
          img.md-card-image(src='images/logo.png')
          md-card-content
            hr
            h2 Card 3
            p.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nibh ut risus rhoncus elementum. Sed scelerisque libero ac ex mattis, eu accumsan lectus finibus.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nibh ut risus rhoncus elementum. Sed scelerisque libero ac ex mattis, eu accumsan lectus finibus.
          div(layout='row', class='', layout-align='end end')
            md-button.md-raised.md-primary.md-hue-2.hvr-grow() Action 1
            md-button.md-raised.md-primary.md-hue-2.hvr-grow() Action 2