//
   Created by root on 9/17/15.

h1 Current Projects
hr
p Check out what I'm up to!


div#projects(layout-gt-md='row')
  div(flex class='projects-card' ng-controller="ProjectsCtrl" ng-repeat= "project in projects")
    md-content.md-padding
      md-card.md-card
        img.md-card-image(src="images/yeoman.png", alt="Document image" style='margin: auto;')
        md-card-content.md-card-content
          h4 {{ project.title }}
          p.
            {{ project.description }}
          div
            span Updated on: {{ project.updated_On }}
          br
          div(layout='row' layout-align='start end')
            md-button.md-raised.md-primary.md-hue-2.hvr-grow(href="{{ project.link }}", role= "button") View







