md-dialog(ng-cloak aria-label='Resume')
  form
  md-toolbar
    div(class='md-toolbar-tools')
      h2 Benjamin Forehand Jr Resume
      span(flex)
      md-button(class='md-icon-button' ng-click='cancel()')
        md-icon(md-svg-src='images/angular-material/menu.svg' aria-label='Close dialog')
  md-dialog-content(style='min-width: 1000px; max-height: 810px;')
    div(class='md-dialog-content')
      h2 Resume
      iframe(src="http://drive.google.com/file/d/0B3r6aWctfAKPODFmV3pSRW0xTGM/preview" width="100%" height="480px")