//
   Created by root on 10/11/15.


doctype html
html
  head
    meta(charset='utf-8')
    title Benjamin Forehand Jr
    meta(name='description', content='')
    meta(name='viewport', content="initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic')
    link(rel='stylesheet', href='/javascripts/vendor/angular-material/angular-material.css')
    //link(rel='stylesheet', href='/javascripts/vendor/bootstrap-material-design/dist/css/ripples.css')
    link(rel='stylesheet', href='/javascripts/vendor/hover/css/hover.css')
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/javascripts/vendor/bootstrap-material-design/dist/css/material-fullpalette.css')
    link(rel='stylesheet', href='/javascripts/vendor/jquery.kyco.googleplusfeed2/dist/jquery.kyco.googleplusfeed2.css')
    link(rel='stylesheet', href='/dist/stylesheets/main.min.css')
    base(href="/")
  body(ng-app='webApp', layout="row")
    md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left', md-is-locked-open="$mdMedia('gt-sm')")
      md-toolbar.md-whiteframe-z1
        h2(style="margin: auto;") Navigation
      md-list
        md-list-item
          md-button(ui-sref='home' flex='')
            h3 Home
        md-list-item
          md-button(ui-sref='about' flex='')
            h3 About
        md-list-item
          md-button(ui-sref='contact' flex='')
            h3 Contact
        md-list-item
          md-button(ui-sref='resume' flex='')
            h3 Resume
        md-list-item
          md-button(ui-sref='projects' flex='')
            h3 Projects
    .md-whiteframe-z2(flex='', layout='column', tabindex='-1', role='main')
      md-toolbar.md-whiteframe-z1(layout='row')
        md-button(hide-gt-sm='', aria-label='Show User List', ng-controller="LeftCtrl", ng-click='toggleSidenav()')
          md-icon(md-svg-icon='images/angular-material/menu.svg')
        span(flex='')
        h2 BennyJr
        span(flex='')
        md-button(aria-label='Show User List', ng-controller='RightNavCtrl', ng-click='toggleSidenav()')
          md-icon(md-svg-icon='images/angular-material/menu.svg')

      md-content.md-padding(ui-view='')
    md-sidenav.md-sidenav-right.md-whiteframe-z2(md-component-id='right')
      div(flex='' layout='row')
        md-tabs.md-dynamic-height.md-border-bottom(md-no-pagination='true' flex)
          md-tab(label='Twitter')
            md-content.md-padding
              h4.md-display-2 Tweetverse
              p
                a.twitter-timeline(href='https://twitter.com/bigbenjr135', data-widget-id='648968585075933184') Tweets by @bigbenjr135
          md-tab(label='Google+')
            md-content.md-padding
              h4.md-display-2 Add me!
              .gplus2



    script(type="text/javascript" src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(type="text/javascript" src='/javascripts/vendor/angular/angular.js')
    //script(type="text/javascript" src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(type="text/javascript" src='/javascripts/vendor/angular-resource/angular-resource.js')
    script(type="text/javascript" src='/javascripts/vendor/angular-animate/angular-animate.min.js')
    script(type="text/javascript" src='/javascripts/vendor/angular-aria/angular-aria.min.js')
    script(type="text/javascript" src='/javascripts/vendor/angular-material/angular-material.js')
    script(type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js')
    script(type="text/javascript" src='/javascripts/vendor/angular-ui-router/release/angular-ui-router.min.js')
    script(type="text/javascript" src='/javascripts/vendor/jquery.kyco.googleplusfeed2/dist/jquery.kyco.googleplusfeed2.min.js')
    script(type="text/javascript" src='/dist/javascripts/indexFinal.min.js')

    script.
      !function(d,s,id){
         var js,fjs=d.getElementsByTagName(s)[0],
                 p=/^http:/.test(d.location)?'http':'https';
         if(!d.getElementById(id)){
            js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}
      }(document,"script","twitter-wjs");