@import "projects";
@import "form-control";
@import "angularMaterialStyles";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body{
  font-size: 18px;
  position: fixed;
  width: 100%;
}

h1{
  color: #f50057;
}

.active, .active:focus, .active:hover{
  background-color: #f50057 !important;
  color: white !important;
}

#main, #projects {
  md-card {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }

  md-card:hover {
    box-shadow: 0 5px 2px 1px rgba(0, 0, 0, 0.5);
  }

}

#main{
  .md-card-image{
    margin: auto;
    max-height: 125px;
    min-height: 125px;
  }

  .md-card-content{
    min-height: 250px;
    max-height: 250px;
  }

  h2{
    text-align: center;
  }

  md-card{
    max-height: 450px;
  }

}

#bodyContainer{
  background-color: white;
  margin: 2rem;
  overflow: auto;
}

.morePadding{
  padding: 2rem;
}

.addMargin{
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.navbar-brand,
  img{
    height: 5rem;
    padding: .5rem;
  padding-bottom: 1rem;

  }



/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  //margin: 40px 0;
  padding-top: 1rem;
  h2 {
    color: #ec407a;
    font-weight: 500;
  }
  h4 {
    margin-top: 28px;
    padding: 5px;
    border-left: 2px solid #ec407a; //material-teal-500
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

}

hr{
  border-bottom: 1px solid #00bcd4 !important; //material-teal-500
}

#inTouch{
  text-align: center;
  padding-top: 7rem;
}

#siteContents{
  text-align: left;

  h2{
    text-align: center;
  }

  h4{
    border-left: 2px solid #ec407a;
    padding-left: 5px;
  }
}

#main{
  md-card{
    overflow: hidden;
  }
}



/* ------------------------    Nav    -------------------- */

#mainTitle{
  //border: 1px solid black;
  text-align: center;
  margin-bottom: 5px;
  background-color: #688897;
}

#view{
  //padding: 3rem;
  //padding-right: 3rem;
  background-color: white;

}


#bigCallout{
  text-align: center;
  background-image: url("/images/black-and-white-city-skyline-buildings.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 8rem;
  min-height: 650px;


  .callout-content{
    background-color: transparent;

    p{
      color: white;
      font-size: 35px;
    }

  }
}

#table{
  padding: 1rem;
}

.link{
  text-decoration: none;
  color: black;
}

#bio
  h1{
  text-align: center;
  margin-bottom: 2rem;
  color: #ec407a;
}

#resume{
  padding: 2rem;

  button{
    margin-bottom: 3rem;
  }

  h1{
    color: #ec407a;
  }
}

#contact{

  h1{
    color: #ec407a;
  }
}

#my-dialog{

  h3{
    color: #ec407a
  }
}

#socialMediaFeed{


}

#socialMediaLinks{
  background-color: white;
}

/* ---------- Google Plus Feed ---------- */

.kyco_googleplusfeed {
  width: auto;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  border-radius: 3px;
  color: #404040;
  font-family: arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}


#about{
  .md-card-image{
    margin: auto;
    height: 200px;
    width: auto;
  }

  .md-card{

  }
}

#projects{
  .md-card-image{
    width: auto;
    height: 150px;
  }

}

.md-sidenav-right{
  width: 350px !important;
  min-width: 350px !important;
}


.kyco_googleplusfeed .feed_profile_image{
  width: 75px !important;
  height: 75px !important;

}

.projects-detail-card{
  h2{
    color: #ec407a; 
  }
  
  img{
    margin: auto;
    width: auto;
    min-height: 200px;
    max-height: 250px;
  }
}

#mainView{
  max-height: 100vh;
  min-height: 100vh;
  width: 100%;
  overflow: scroll;
 padding-bottom: 75px;

}
